<% var data = jsonData; %>
<% include common/_header %>
<div class="container">

タイトルはああ
<%= data[1].title %>
ディスクリプションは
<%= data[0].title %>
aaa




sss

ss

section + class


sssss

aa
ssss
<h1>test</h1>
</div>

<% include common/_footer %>
